# Ignore everything by default
/*

!/.gitignore
!/.gitmodules
!/README.md
!/LICENSE

# Track .local directories
!.local/bin/*
!.local/share/applications/*

# Track config folder with their content
!.config/shell/*
!.config/sway/*
!.config/swayidle/*
!.config/swaylock/*
!.config/waybar/*
!.config/foot/*
!.config/rofi/*
!.config/nvim/*
!.config/zsh/*
!.config/lf/*
!.config/dunst/*
!.config/mpd/*
!.config/ncmpcpp/*
!.config/mpv/*
!.config/zathura/*
!.config/nsxiv/*
!.config/wpaperd/*
!.config/tridactyl/*
