# Ignore everything by default
/*
!/.gitignore
!/README.md
!/LICENSE
!/.gitmodules

# Track .config directories
!.config/
!.config/shell/
!.config/sway/
!.config/swayidle/
!.config/swaylock/
!.config/waybar/
!.config/foot/
!.config/rofi/
!.config/nvim/
!.config/zsh/
!.config/lf/
!.config/dunst/
!.config/mpd/
!.config/ncmpcpp/
!.config/mpv/
!.config/tridactyl/
!.config/zathura/
!.config/nsxiv/
!.config/wpaperd/

# Track .local directories
!.local/
!.local/bin/
!.local/share/applications/

# Ignore everything else in tracked directories
.config/*
!.config/shell/*
!.config/sway/*
!.config/swayidle/*
!.config/swaylock/*
!.config/waybar/*
!.config/foot/*
!.config/rofi/*
!.config/nvim/*
!.config/zsh/*
!.config/lf/*
!.config/dunst/*
!.config/mpd/*
!.config/ncmpcpp/*
!.config/mpv/*
!.config/zathura/*
!.config/nsxiv/*
!.config/wpaperd/*

.local/*
!.local/bin/*
!.local/share/applications/*

# Ignore nested files in tracked directories
.config/shell/*
!.config/shell/aliasrc
!.config/shell/bm-dirs
!.config/shell/bm-files
!.config/shell/inputrc
!.config/shell/profile

.config/sway/*
!.config/sway/config

.config/swayidle/*
!.config/swayidle/config

.config/swaylock/*
!.config/swaylock/config

.config/waybar/*
!.config/waybar/config.jsonc
!.config/waybar/power_menu.xml
!.config/waybar/mediaplayer.py

.config/foot/*
!.config/foot/foot.ini

.config/rofi/*
!.config/rofi/config.rasi

.config/nvim/*
!.config/nvim/init.vim

.config/zsh/*
!.config/zsh/.zshrc

.config/lf/*
!.config/lf/lfrc
!.config/lf/scope
!.config/lf/cleaner

.config/dunst/*
!.config/dunst/dunstrc

.config/mpd/*
!.config/mpd/mpd.conf

.config/ncmpcpp/*
!.config/ncmpcpp/config
!.config/ncmpcpp/bindings

.config/mpv/*
!.config/mpv/mpv.conf
!.config/mpv/input.conf
!.config/mpv/scripts/

.config/zathura/*
!.config/zathura/zathurarc

.config/nsxiv/*
!.config/nsxiv/exec/

.local/bin/*
!.local/bin/shortcuts
!.local/bin/compiler
!.local/bin/setbg
!.local/bin/dmenuhandler
!.local/bin/rotdir
!.local/bin/unix
!.local/bin/statusbar/
!.local/bin/cron/
