* {
    border: none;
    border-radius: 0;
    font-family: "JetBrains Mono", "DejaVu Sans Mono";
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #282828;
    color: #ebdbb2;
    border-bottom: 2px solid #1d2021;
}

#workspaces {
    background: transparent;
}

#workspaces button {
    padding: 0 10px;
    color: #ebdbb2;
    background: transparent;
}

#workspaces button:hover {
    background: #3c3836;
    color: #ebdbb2;
}

#workspaces button.active {
    background: #3c3836;
    color: #ebdbb2;
}

#mode {
    background: #282828;
    border-bottom: 2px solid #ebdbb2;
    color: #ebdbb2;
}

#clock {
    background: transparent;
    color: #ebdbb2;
    padding: 0 10px;
}

#pulseaudio {
    background: transparent;
    color: #ebdbb2;
    padding: 0 10px;
}

#pulseaudio.muted {
    color: #928374;
}

#network {
    background: transparent;
    color: #ebdbb2;
    padding: 0 10px;
}

#network.disconnected {
    color: #cc241d;
}

#battery {
    background: transparent;
    color: #ebdbb2;
    padding: 0 10px;
}

#battery.charging {
    color: #98971a;
}

#battery.warning:not(.charging) {
    color: #cc241d;
}

#battery.critical:not(.charging) {
    color: #cc241d;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    to {
        background-color: #cc241d;
        color: #282828;
    }
}

#tray {
    background: transparent;
    padding: 0 10px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
